/* ==============================
   PALETA DE COLORES - GLOBAL
   ============================== */

:root {
  --primary: #3b4a79;        /* Azul navbar */
  --primary-soft: #b8cbed;   /* Azul muy suave (solo si luego lo usamos) */

  --dark: #1f2937;
  --muted: #6b7280;

  --white: #ffffff;
  --accent: #f59e6e;

}

/* ==============================
   ESTILOS GENERALES
   ============================== */

body {
  padding-top: 72px; /* navbar fixed */
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--dark);
  background-color: var(--white);
}

.text-muted {
  color: var(--muted) !important;
}

/* ==============================
   CONTENIDO CENTRADO
   ============================== */

section .container {
  max-width: 960px;
}

/* ==============================
   NAVBAR
   ============================== */
.navbar {
  background-color: #242f56 !important;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.08) 1px,
    transparent 1px
  );
  background-size: 4px 4px;
}

.navbar .nav-link {
  color: #ffffff;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #dbe4ff;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.4);
}

.navbar-toggler-icon {
  filter: invert(1);
}

/* ==============================
   HERO / HEADER
   ============================== */

.titulo-section {
  min-height: 75vh;
  background-color: var(--white);
}

/* ==============================
   FOTO PERFIL
   ============================== */

.perfil-img {
  width: 250px;
  height: 280px;
  object-fit: cover;
  border-radius: 20%;
  border: 4px solid #e5e7eb;
}

/* ==============================
   SECCIONES
   ============================== */

section {
  scroll-margin-top: 80px;
}

section h3 {
    text-align: center;
    font-weight: 600;
}

 #about p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#skills,
#projects {
  text-align: center;
}


/* ==============================
   CARDS
   ============================== */

.card {
  border: none;
  border-radius: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
}

#contact {
  background-color: var(--primary);
  color: #b8cbed;
}

#contact h3 {
  color: #b8cbed;
}

#contact a {
  color: #b8cbed;
}

#contact a:hover {
  color: #b8cbed;
}

/* ==============================
   BOTÓN CV (ACENTO)
   ============================== */

.btn-cv {
  background-color: #f28348;
  color: #ffffff;
  border: none;
  padding: 0.6rem 1.4rem;
  font-weight: 500;
  border-radius: 999px; /* pill button */
  transition: all 0.25s ease;
}

.btn-cv:hover {
  background-color: #ea8b57;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(245, 158, 110, 0.35);
  color: #ffffff;
}

